<a href="https://colab.research.google.com/github/bomnne777/Midterm24/blob/main/2023013203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ðŸŒ€Midterm 2024: Bo-Min Go

##Name Question

In [15]:
x = "My name is"
y = "Bomin Go."
print(x,y)

My name is Bomin Go.

##Index Question

In [29]:
# Dropdown

cardinal_number = "4" #@param = ["1","2","3","4"]

# Add one line of code below
cardinal_number = int(cardinal_number)

# Ordinal expression as a list

words = ["First", "First", "Second","Third","Fourth"]

print("The ordinal expression:", words[cardinal_number])

The ordinal expression: Fourth

##Variable Question

In [ ]:
#'Mary, 1998, Ohio; and John, 1999, Boston.'
x = input() #name
y = input() #born_in
z = input() #hometown
print()

##Dictionary Question

In [67]:
grades = {'Bob':80, 'student1':75, 'student2':90}
del grades["student1"]
del grades["student2"]
print(grades)

{'Bob': 80}

##Function Question

In [48]:
def divide_numbers(num1, num2):
    result = num1 / num2
    return result

In [49]:
divide_numbers(20, 4)

5.0